body {
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    width: 1345px;
    height:68px;
    background-color: #FDF1EB;
}



.pagina {
    display: flex;
    width: 1345px;
}

.TodoConteudo {
    width: 1145px;
}


.inicio {
    font-size: 14px;
    font-family: 'Roboto';
    width: 789px;
    background-color: #FDF1EB;

}

.inicio p {
    color: #725C5C;
    margin: 0px;
    margin-left: 36px;
}

.inicio h2 {
    color:#725C5C;
    margin: 0px;
    margin-left: 36px;
    margin-top: 2px;
}

.inicio h4 {
    color: #725C5C;
    margin: 0px;
    margin-left: 36px;
    margin-top: 2px;
}

.botao {
    padding: 0px;
    width: 97px;
    background-color:#FDF1EB;
    

}

.botao button {
    background-color: #FDF1EB;
    margin-top: 17px;
    width: 97px;
    height: 34px;
}

.botao button .icone {
    margin-left: 3px;
    margin-top: -2px;
    width: 22px;
    height: 21px;
    background-image: url(/images/icone_botao.png);
}

 button div {
     font: 'Quicksand';
    margin: 0px;
    margin-left: 30px;
    margin-top: -20px;
}

.login {
    width: 260px;
    background-color: #FDF1EB;

}

.login h4 {
    margin: 0px;
    margin-top: 17px;
    margin-left: 113px;
    font-size: 14px;
    font:'Quicksand';
}

.login p {
    margin: 0px;
    margin-top: 1px;
    margin-left: 38px;
    font-size: 12px;
    font:'Quicksand';
}

.login div {
    margin: 0px;
    margin-left: 200px;
    margin-top: -35px;
    width: 30px;
    height: 30px;
    background-image: url(/images/img_mulher.jpg);
}


.container {
    display: flex;
    width: 1120px;
    height:65px;
    background-color: #FFFFFF;
}

.topo {
    width: 220px;
    height: 68px;
    background-image: url(/images/logo_evento_1.png);
}

.logo {
    width: 220px;
    height: 258px;
    background-image: url(/images/logo_evento_2.png);
}





.side_menu {
    width: 220px;
    background-color: #FFFFFF;
}

#side_bar {
    display: flex;
    align-items: center;
   
}

nav {
    width: 220px;
    height: 2000px;
    border-right: 1px solid #dadada ;
}

nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    width: 220px;
    display: flex;
    flex-direction: column;
    
}

nav a {
    font-family: 'Quicksand';
    color: #725C5C;
    font-size: 15px;
    display: block;
    text-decoration: none;
    padding-left: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 2px solid #FDF1EB;
    
}

nav a:hover {
    background-color:#c7bbbb;
    color: #FFFFFF;
    
}
 .content  {
    display: flex;
    width: 1059px;
    height: 65px;
    margin-left: 36px;
    background-color:#FFFFFF;
}

.content .principal {
    margin-top: 10px;
    display: flex;
    width: 1103px;
    height: 54px;
    background-color: #FFFFFF;
}

.principal .titulo {
    width: 786px;
    background-color: #FFFFFF;
}

.titulo h1 {
    margin: 0px;
    color:#ED7839 ;
    font-size: 20px;
}

.principal .download {
    width:120px ;
    height: 31px;
    margin-left: 56px;
}

.download button {
    width:120px ;
    height: 31px;
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    background-color:#ED7839 ;
}

.principal .star {
    width: 43px;
    height: 31px;
    margin-left: 5px;

}

.star button {
    width: 43px;
    height: 31px;
    border-radius: 4px;
    background-color:#ED7839 ;
    background-image: url(/images/star.png);
    background-position: center;
    background-size: cover;
    
    
}

.principal .doi {
    width: 43px;
    height: 31px;
    margin-left: 5px;
    background-color: #ED7839;
    border-radius: 4px;
}

.doi button {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-left: 9px;
    border-radius: 4px;
    background-color:#FFFFFF ;
    color: #ED7839;
    border-radius: 12px;
    font-size: 10px;
    

}

.content1 {
    display: flex;
    width: 1059px;
    height: 439px;
    margin-left: 40px ;
    margin-top: 40px;
    
}

.content1 .video {
 margin: 0px;
width: 783px;
height: 439px;
background-image: url(/images/video.png);
}

.video .color {
    margin: 0px;
    width: 783px;
    height: 436px;
    border-radius: 5px;
    background-color: rgba(255, 69, 0, 0.2);
}

.color .primeiro {
    margin: 0px;
    margin-left: 32px;
    padding-top: 30px;
    font-size: 24px;
    color: #FFFFFF;


}

.color .segundo {
    margin: 0px;
    font-size: 34px;
    margin-left: 132px;
    margin-top: 222px;
    color: #FFFFFF;
}

.color .terceiro {
    margin: 0px;
    margin-left: 134px;
    margin-top: 5px;
    font-size: 20px;
    color: #FFFFFF;
    
}

.content1 .conteudo {
    width: 242px;
    height: 439px;
    margin-left: 31px;
}

.conteudo .primeiro {
    margin: 0px;
    margin-left: 30px;
    font-size: 14px;
    color: #ED7839;

}

.conteudo .segundo {
    margin: 0px;
    margin-left: 4px;
    margin-top: 30px;
    font-size: 20px;
    color:#4E4E4E;
    background-color:#FDF1EB ;
    border: solid 1px #FDF1EB ;
}

.conteudo .terceiro {
    margin: 0px;
    margin-left: 4px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
    color: #7c7c7c;
    
}


.content2 {
    width: 1059px;
    margin-left:40px ;
}

.content2 .titulo {
    width: 1059px;
    height: 45px;
    background-color:#FDF1EB ;
    border: 0.5px solid #d3d3d3 ;
}

.titulo {
    margin-top: 30px;
}

.titulo h2 {
    color: #4E4E4E;
    margin: 0px;
    padding-top: 10px;
    padding-left: 15px;
}

 .resumo {
    width: 1059px;
    border: 0.5px solid #d3d3d3 ;
}

.content2 .resumo p {
    color:#5C5C5C;
    font-size: 16px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.resumo button {
    background-color: #ED7839;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.content3 {
    width: 1059px;
    margin-left:40px ;
    margin-top: 10px;
}

.content3 .discussoes {
    height: 45px ;
    background-color:#FDF1EB;
}

.discussoes h2 {
    color: #4E4E4E;
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 50px;
}

#formulario {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

label{
    font-size: 16px;
    color: #ED7839 ;
}

textarea {
    width: 1025px;
    height: 113px;
    resize: none;
    outline: 0;
}

#btnForm {
    font-size: 15px ; 
    width: 205px; 
    height: 31px;  
    background-color: #FEB154; 
    color: #FFFFFF; 
    margin: 0px;
    margin-left: 826px;
}

.content3 .p1 {
    font-size: 18px;
    color:#ED7839;
    margin:0px;
    margin-top: 15px;
    text-align: center;
    
}

.content3 .icones {
    display: flex;
    height: 50px;
    margin: 0px;
    margin-top: 27px;

}

.img1,
.img2,
.img3 {
    width: 50px;
    height: 50px;
    background-color: black;
}

.img1 {
    margin-left: 400px;
    background-image: url(/images/img1.png);
}

.img2 {
    margin-left: 52px ;
    background-image:url(/images/img2.png);
}

.img3 {
    margin-left: 52px;
    background-image: url(/images/img3.png);
}

.content3 .p2 {
    font-size: 14px;
    color: #595959 ;
    margin: 0px;
    margin-top: 43px;
    text-align: center;

}

#criarTopico {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0px;
    margin-top: 14px;
    margin-left: 447px;
    width: 133px;
    height: 32px;
    background-color: #F0813D;
    border-radius: 4px;
    
    
}

#CriarNovoTopico {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
}


#criarNovoTopico {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0px;
    margin-top: 47px;
    margin-left: 410px;
    width: 235px;
    height: 32px;
    background-color: #F0813D;
    border-radius: 4px;

}

.p14 {
    margin: 0px;
    font-size: 18px;
    color: #ED7839 ;
    text-align: center;
    margin-top: 15px;
}

.p15 {
    margin: 0px;
    font-size: 14px ;
    color: #382727 ;
    text-align: center;
    margin-top: 18px;
}

.p16 {
    margin: 0px;
    font-size: 14px;
    color: #F48F44 ;
    text-align:center ;
    margin-top: 29px;
}

.p17 {
    margin: 0px;
    font-size: 16px ;
    color: #707070 ;
    text-align: center;
    margin-top: 80px;

}

.p18 {
    margin: 0px;
    font-size: 14px;
    color: #ED7839 ;
    text-align: center;
    margin-top: 8px;
}

.assunto1 {
    width: 1028px;
    height: 148px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #E7E7E7 ;
}

.assunto1 h3 {
    margin: 0px;
    font-size: 16px;
    color: #ED7839;
    padding-top: 17px;
    padding-left: 24px;
    
}


.assunto1 .p3 {
    margin: 0px;
    padding-top: 4px;
    font-size: 12px;
    color: #4D4D4D;
    padding-left: 24px;

}

.assunto1 .p4 {
    margin: 0px;
    font-size: 14px;
    color: #4D4D4D;
    padding-left: 24px;
    padding-top: 15px;
}

.assunto1 .p5 {
    margin: 0px;
    height:19px ;
    padding-top: 15px;
    padding-left: 18px;
    font-size: 14px;
    color: #757575;
}


.assunto2 {
    width: 1028px;
    height: 148px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #E7E7E7 ;
}

.assunto2 h3 {
    margin: 0px;
    font-size: 16px;
    color: #ED7839;
    padding-top: 17px;
    padding-left: 24px;
    
}


.assunto2 .p3 {
    margin: 0px;
    padding-top: 4px;
    font-size: 12px;
    color: #4D4D4D;
    padding-left: 24px;

}

.assunto2 .p4 {
    margin: 0px;
    font-size: 14px;
    color: #4D4D4D;
    padding-left: 24px;
    padding-top: 15px;
}

.assunto2 .p5 {
    margin: 0px;
    height:19px ;
    padding-top: 15px;
    padding-left: 18px ;
    font-size: 14px;
    color: #757575;
}

.assunto3 {
    width: 1028px;
    height: 148px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #E7E7E7 ;
}


.assunto3 .p6 {
    margin: 0px;
    font-size: 14px;
    color: #4D4D4D;
    padding-left: 24px;
    padding-top: 15px;
}

.assunto3 img {
    margin: 0px;
    margin-left: 750px;
}

.assunto3 .p7 {
    margin: 0px;
    height:19px ;
    padding-top: 15px;
    padding-left: 24px ;
    font-size: 14px;
    color: #757575;
}

.assunto4 {
    width: 1028px;
    height: 148px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #E7E7E7 ;
}


.assunto4 .p8 {
    margin: 0px;
    font-size: 14px;
    color: #4D4D4D;
    padding-left:24px;
    padding-top: 15px;
}

.assunto4 .p9 {
    margin: 0px;
    height:19px ;
    padding-top: 15px;
    padding-left: 24px ;
    font-size: 14px;
    color: #757575;
}

.assunto5 {
    width: 1028px;
    height: 148px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #E7E7E7 ;
}


.assunto5 .p10 {
    margin: 0px;
    font-size: 14px;
    color: #4D4D4D;
    padding-left: 24px;
    padding-top: 15px;
}

.assunto5 img {
    margin: 0px;
    margin-left: 700px;
}

.assunto5 .p11 {
    margin: 0px;
    height:19px ;
    padding-top: 15px;
    padding-left: 24px ;
    font-size: 14px;
    color: #757575;
}

.assunto6 {
    width: 1028px;
    height: 148px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid #E7E7E7 ;
}


.assunto6 .p12 {
    margin: 0px;
    font-size: 14px;
    color: #4D4D4D;
    padding-left: 24px;
    padding-top: 15px;
}

.assunto6 img {
    margin: 0px;
    margin-left: 775px;
}

.assunto6 .p13 {
    margin: 0px;
    height:19px ;
    padding-top: 15px;
    padding-left: 24px ;
    font-size: 14px;
    color: #757575;
}


footer {
    display: flex;
    width: 1059px;
    height: 181px;
    margin-top: 40px;
    margin-left: 40px;
    
}

footer .logoGaloa {
    margin-left: 20px;
    width: 224px;
    height: 181px;
    background-image: url(/images/img_footer.png);
}

footer .p6 {
    font-size: 16px;
    color: #4D4D4D;
    padding-top: 24px;
    padding-left: 24px;
}


@media (max-width:1024px){
    header {
        width: 980px;
    }

    .topo {
        width: 140px;
        height: 40px;
        background-image: url(/images/logo_evento_1.1.png);
    }

    .pagina {
        width: 980px;
    }

    .menu {
        width: 150px;
    }

    .logo {
        width: 150px;
        height: 200px;
        background-image: url(/images/logo_evento_2.1.png);
    }

    nav {
        width: 150px;
    }

    .TodoConteudo {
        width: 980px;
    }

    .content {
        width: 900px;
        margin: 0px;
        margin-left: 40px;
        
    }

    .principal {
        width: 980px;
    }

    .principal .titulo {
        width: 520px;
        height: 50px;
    }


    h1 {
        width: 520px;
        font-size: 20px;
    }


    .content1 {
        width: 900px;
        margin-top: 60px;
    
    }

    .content1 .video {
        width: 600px;
        height: 330px;
        background-image: url(/images/video.1.png);
    }

    .content1 .color {
        width: 600px;
        height: 330px;
    }

    .color .primeiro {
        font-size: 16px;
    }

    .color .segundo {
        font-size: 24px;
        margin-top: 150px;
        margin-left: 100px;
    }

    .color .terceiro {
        font-size: 18px;
        margin-left:100px;
    }

    .content1 .conteudo {
        width: 200px;
        height: 400px;
    }

    .conteudo .segundo {
        margin-top: 15px;
    }

    .conteudo .terceiro {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .content2 {
        width: 900px;
    }

    .content2 .titulo {
        width: 800px;
    }

    .content2 .resumo {
        width: 800px;
        font-size: 20px;
    }

    .content3 {
        width: 900px;
    }

    .content3 #CriarTopico {
        width: 800px;
    }

    .icones .img1 {
        margin-left: 250px;
    }

    #criarTopico {
        margin-left: 300px;
        
    }

    .assunto1,
    .assunto2,
    .assunto3,
    .assunto4,
    .assunto5,
    .assunto6 {
        width:800px;
    }

    .assunto5 {
        height: 200px;
    }

    .assunto6 {
        height: 200px;
    }

    .assunto3 img {
        margin-left: 650px;
    }

    .assunto5 img {
        margin-left: 650px;
    }

    .assunto6 img {
        margin-left: 650px;
    }

    #formulario {
        width: 800px;
    }


    #CriarNovoTopico {
        width: 800px;
    }

    #CriarNovoTopico button {
        margin-left: 270px;
    }

    form input {
        width: 800px;
    }

    textarea {
        width: 800px;
    }

    #btnForm {
        margin-left: 600px;
    }


    footer {
        width: 800px;
        margin-bottom: 20px;
    }


}

@media (max-width:800px){
    header {
        width: 480px;
        height: 80px;
        margin: 0px;
        
    }

    header .inicio {
        width: 260px;
    }

    .topo {
        display: none;
    }

    .inicio h2, h4 {
        font-size: 12px;
    }

    .inicio p {
        font-size: 10px;
    }


    .botao {
        width: 50px;
        height: 15px;
    }

    .botao button {
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        width: 50px;
        height: 15px;
    }

    .botao button .icone {
        display: none;
    }

    .botao button div {
        font-size: 8px;
        margin: 0px;
        width: 30px;
        height: 10px;
    }

    header .login {
        width:160px;
        height: 80px;
        margin-left: 20px;
    }

    .login h4 {
        margin: 0px;
        margin-left: 20px;
        margin-top: 10px;
        font-size: 14px;
    }

    .login p {
        font-size: 10px;
        margin-left: 20px;
    }

    .pagina {
        width: 480px;
    }

    .pagina .menu {
        display: none;
    }

    .pagina .TodoConteudo {
        width: 480px;
    }

    .TodoConteudo .content {
        flex-direction: column;
        width: 480px;
        margin: 0px;
    }

    .principal .titulo {
        width:320px ;
        margin: 0px;
    }

    

    .principal .titulo h1  {
        width: 300px;
        height: 50px;
        font-size: 14px;
        margin-left: 30px;
    }

    .principal  .download {
        width: 60px;
        height: 20px;
        margin-left: 10px;
    
    }

    .download button {
        width: 60px;
        height: 20px;
        padding: 0px;
        font-size: 10px;
    }

    .principal .star {
        width: 40px;
        height: 20px;
        margin-left: 10px;
    }

    .star button {
        width: 40px;
        height: 20px;
        padding: 0px;
    
    }

    .principal .doi {
        width: 30px;
        height: 20px;
        margin-left: 10px;
    }

    .doi button {
        width: 24px;
        height: 20px;
        padding: 0px;
        margin: 0px;
        margin-left: 3px;
        margin-bottom: 4px;
        
    }

    .content1 {
        width: 480px;
        height: 600px;
        flex-direction: column;
        margin: 0px;
        margin-top: 30px;
    }

    .content1 .video {
        width: 400px;
        height: 225px;
        margin-left: 40px;
        background-image: url(/images/video.2.png);
    }

    .video .color {
        width: 400px;
        height: 225px;

    }

    .color .primeiro {
        width: 280px;
        font-size: 12px;
    }

    .color .segundo {
        width: 280px;
        margin-top: 60px;
        margin-left: 50px;
        font-size: 20px;
    }

    .color .terceiro {
        width: 280px;
        margin-left: 50px;
        font-size: 16px;

    }

    .content1 .conteudo {
        width: 480px;
        height: 500px;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .conteudo .primeiro {
        margin-left: 40px;
    }

    .conteudo .segundo {
        margin-left: 40px;
    }

    .conteudo .terceiro {
        margin: 0px;
        margin-top: 20px;
        margin-left: 40px;
        height: 100px;
    }

    .content2 {
        width: 480px;
        flex-direction: column;
        margin: 0px;
        margin-top: 40px;
    }

    .content2 .titulo {
        width: 460px;
        margin-left: 10px;
    }

    .content2 .resumo {
        width: 460px;
        margin-left: 10px;
    }

    .content3 {
        width: 440px;
    }

    .content3 .discussoes {
        width: 460px;
        
    }

    #formulario {
        width: 440px;
    }

    form {
        width: 440px;
    }

    textarea {
        width: 400px;
    }

    #btnForm {
        margin: 0px;
        width: 60px;
        height: 24px;
    }

   .content3 #CriarTopico {
        width: 440px;
    }

    .icones .img1 {
        margin-left: 100px;
    }

    #CriarTopico button {
        margin: 0px;
        margin-left:160px;
        margin-top: 10px;
        width: 80px;
        height: 24px;
    }

    #CriarNovoTopico {
        width: 440px;
    }

    .content3 #criarNovoTopico  {
        width: 140px;
        margin: 0px;
        margin-top: 20px;
        margin-left: 140px;
    }

    .content3 .assunto1, 
    .assunto2,
    .assunto3,
    .assunto4,
    .assunto5,
    .assunto6 {
        margin: 0px;
        width: 440px;
    }

    footer {
        flex-direction:column;
        margin: 0px;
        width: 440px;
        height: 350px;
    }

    footer .logoGaloa {
        width: 220px;
        height: 90px;
    }

    

    


    

    



    






    





}